<div class="column is-full">
  <% @events.each do |event| %>
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          Events
        </p>
      </header>
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <%= gravatar_image_tag('spam@spam.com', :alt => 'wavatar' ) %>
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4"><%= event.event %></p>
            <p class="subtitle is-6"><%= event.date %></p>
          </div>
        </div>
        <div class="content">
          <% if user_signed_in? %>
            <%= link_to 'Show', event, class: 'button is-info is-small' %>
            <%= link_to 'Edit', edit_event_path(event), class: 'button is-success is-small' %>
            <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button is-danger is-small' %>
          <% end %>
        </div>
      </div>
    </div>
    <%= link_to 'New Event', new_event_path, class: 'button is-primary is-medium mt-3' %>
  <% end %></div>
